@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h2>@ViewData["Title"]</h2>
<div class="row col-lg-12 backgroundPic">
    <div class="col-sm-3 col-lg-offset-4 block-background">
        <section id="socialLoginForm btns">
            <div class="form-group btns">
                
                <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                @if (provider.DisplayName.Equals("Facebook"))
                                {
                                    <button type="submit" class="btn  btn-primary btns" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-danger btns" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }

                            }
                        </p>
                    </div>
                    
                </form>
            </div>
        </section>
        <section id="loginForm">
            <form method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group col-sm-12">
                    <label asp-for="Input.Email">Mail :</label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-12">
                    <label asp-for="Input.Password"> Mot de passe</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group btns">
                    <button type="submit" class="btn btn-default">Se connecter</button>
                </div>
                <div class="form-group">
                    <p class="nowUser">
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">S'inscrire comme nouvel utilisateur</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
